<h2>Book detail</h2>
<table>
  <tbody>
    <tr>
      <td>
        <%= image_tag 'sample-author1.jpg' %>
        <%= @book.user.name %>
      </td>
      <td>
        <%= link_to book_path(@book) do %>
        <%= @book.title %>
        <% end %>
      </td>
      <td><%= @book.body %></td>
    </tr>
  </tbody>
</table>